@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
    font-family: 'Open Sans';
    mix-blend-mode: normal;
    background-color: #1d2021;
    color: #e8e6e3;
}
.container {
    text-align: center;
}
.title {
    display: inline-block;
    margin: 1%;
}
h1 {
    margin: 1%;
    text-decoration: underline;
    text-decoration-color: #337dff;
}
h2 {
    text-decoration: underline;
    text-decoration-color: #337dff;
}
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #337dff;
}
a:hover {
    color: gray;
}
p {
    font-size: 20px;
}
img {
    padding-right: 2%;
    padding-bottom: 1%;
    display: inline-block;
}
article {
    padding: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.a1 {
    color: gray;
    text-decoration: none;
    font-size: 30px;
}
.a1:hover {
    color: black;
    text-decoration: none;
    font-size: 30px;
}
/* change things for mobile */
@media (max-width: 767px) {
    article {
        padding: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #a1 {
        color: gray;
        text-decoration: none;
        font-size: 20px;
    }
    #a1:hover {
        color: gray;
        text-decoration: none;
        font-size: 20px;
    }
}
