@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/open-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
    font-family: 'Open Sans';
    mix-blend-mode: normal;
    background-color: #1d2021;
    color: #e8e6e3;
}
.container {
    text-align: center;
}
.title {
    display: inline-block;
    margin: 1%;
}
h1 {
    margin: 1%;
    text-decoration: underline;
    text-decoration-color: #337dff;
}
h2 {
    text-decoration: underline;
    text-decoration-style: 3px solid;
    text-decoration-color: #337dff;
}
/* LINKS */
a {
    position: relative;
}
.underline {
    position: relative;
    text-decoration: none;
    color: inherit;
    background: #2b2f34;
}
/* animation */
.underline::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #337dff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline:hover::after {
    width: 100%; 
    left: 0;
}
p {
    font-size: 20px;
}
img {
    height: 10em;
    padding: 10px;
}
.img_project {
    height: 20em;
}
.img_flag {
    height: 2em;
    padding: 0%;
    padding-left: 30%;
    padding-top: 7%;
}
article {
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.name {
    font-size: 4em;
}
/* change things for mobile */
@media (max-width: 767px) {
    article {
        padding: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .img_project {
        height: 10em;
    }
    .name {
        font-size: 2em;
    }
    .projects {
         font-size: 2em;
    }
}
